body {
  margin: 0;
  padding: 0;
  background-color: rgb(236, 236, 236);
  /* height: 100vh; */
  font-family: sans-serif;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form {
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 10px 5px 4 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-fields {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.input-fields input {
  padding: 10px 12px;
  margin-top: 5px;
  font-size: 18px;
  border: 1px solid #1f3040;
  border-radius: 5px;
}

.cta {
  background-color: #1f3040;
  color: #fff;
  margin: 10px 0;
  padding: 5px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.borrow-btn {
  padding: 10px 20px;
}

a {
  text-decoration: none;
  color: #1f3040;
}

nav {
  background-color: #1f3040;
  height: 70px;
  display: flex;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1001;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  width: 100%;
  padding: 0 20px;
}

nav ul li a {
  color: #fff;
}

.book-row {
  display: flex;
  flex-wrap: wrap;
}

.book-status-bottom {
  position: absolute;
  bottom: 5px;
  right: 10px;
}

.book-status {
  background-color: #d1e7dd;
  color: #105233;
  padding: 5px 10px;
  margin: 2px;
  border-radius: 10px;
  font-size: 0.7rem;
}

.not {
  background-color: #f8d7da;
  color: red;
}

.reserved {
  background-color: #e8e8e8;
  color: rgb(153, 153, 153);
}

.book-cover {
  /* background-color: rgb(193, 193, 193); */
  border: 2px solid gray;
  height: 70%;
  overflow: hidden;
  margin: 0;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.book-cover img {
  min-height: 100%;
  min-width: 100%;
  /* object-fit: cover; */
}

.book-cover-detail {
  background-color: rgb(193, 193, 193);
  width: 300px;
  height: 300px;
  margin: 0;
  margin-bottom: 5px;
  /* overflow: hidden; */
}

.book-row h3 {
  margin: 0 2px;
}

.book-author {
  margin: 0 2px;
  font-size: 14px;
}

.book-row article {
  position: relative;
  width: 200px;
  height: 340px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(170, 170, 170, 0.5);
  margin: 25px;
  padding: 10px 10px 0 10px;
  background-color: #fff;
  cursor: pointer;
  vertical-align: top;
  transition: height 1s;
}

.book-row article:hover {
  box-shadow: 0 0 20px rgba(170, 170, 170, 0.8);
}

.book-category {
  font-size: 18px;
}

.books {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 20px;
  margin-top: 70px;
  margin-left: 10px;
  margin-right: 20px;
  padding: 0 10px;
}

.alert-container {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.error {
  background-color: #f8d7da;
  color: #86242d;
}

.success {
  background-color: #d1e7dd;
  color: #105233;
}

.message {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  gap: 10px;
  border-radius: 10px;
  margin-top: 20px;
  z-index: 1101;
  position: absolute;
  top: 5px;
}

.book-detail {
  margin-top: 75px;
  display: flex;
  align-items: flex-start;
  padding: 20px;
}

.book-description {
  margin: 0 20px;
}

.searchbook input {
  padding: 10px 14px;
  border-radius: 5px;
  border: none;
}
.searchbook button {
  padding: 10px 14px;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: rgb(59, 129, 59);
}

.searchbook button:hover {
  background-color: rgb(77, 138, 77);
  cursor: pointer;
}

.profile {
  display: flex;
  gap: 3px;
}


@media screen and (max-width: 700px) {
  .book-detail{
    flex-direction: column;
  }
}