{% extends "authenticate/base.html" %} {% block content %}

<div class="books">
  <form method="POST" enctype="multipart/form-data" class="">
    {% csrf_token %}

    <h1 class="">Add book</h1>

    <div class="input-fields">
      <label for="">Title</label>
      {{form.title}}
    </div>
    <div class="input-fields">
      <label for="">Author</label>
      {{form.author}}
    </div>
    <div class="input-fields">
      <label for="">Description</label>
      {{form.description}}
    </div>
    <div class="input-fields">
      <label for="">Category</label>
      {{form.category}}
    </div>
    <div class="input-fields">
      <label for="">Cover</label>
      {% comment %} {{form.cover}} {% endcomment %}
      <input type="file" name="cover" accept=".png, .jpg, .jpeg">
    </div>

    <input type="submit" value="Add Book" class="cta" />
  </form>
</div>

<div class="col-md-6 offset-md-3"></div>
<br /><br />

{% endblock %}
