{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Library System</title>
    <link rel="stylesheet" type="text/css" href=" {% static 'style.css' %} " />
    <link rel="icon" type="image/png" href="{% static 'groupj.png' %}">
  </head>

  <body>
     {% if user.is_authenticated %} <!--if user is logged in show navbar -->
    <nav>
      <ul>
        <li><a href="{% url 'book-list' %}">Home</a></li>
        {% if user.is_staff %}
        <li><a href="{% url 'add-book' %}">Add Book</a></li>
        {% endif %}
        <form class="searchbook" method="POST" action="{% url 'search-book' %}">
          {% csrf_token %}
          <input type="text" placeholder="Search" name="searched" />
          <button type="submit">Search</button>
        </form>
        <div class="profile">
          <li><a href="{% url 'logout' %}">Hello, {{ user.username }}</a></li>
          <li><a href="{% url 'logout' %}">Logout</a></li>
        </div>
      </ul>
    </nav>
    {% endif %} {% if messages %} {% for message in messages %}
    <div class="alert-container" id="msg">
      <div class="{{ message.tags }} message">
        <button onclick="handleMessage(message)">
          <small><sup>x</sup></small>
        </button>

        <p>{{ message }}</p>
      </div>
    </div>

    {% endfor %} {% endif %} {% block content %} {% endblock %}

    <script src=" {% static 'script.js' %} "></script>
  </body>
</html>
