{% extends "authenticate/base.html" %} {% block content %}
<div class="book-detail">
  <div class="book-cover-detail">
    <img
      src="{{ book.cover.url }}"
      alt="c-programmming"
      width="300px"
      height="300px"
    />
  </div>
  <div class="book-description">
    <h3>{{ book.title }}</h3>
    <p>{{ book.description }}</p>
    <p>By <b>{{ book.author }}</b></p>
    <span class="{{ book.status }} book-status">{{book.status}}</span>
    <br />
    {% if book.status == "available" %}
    <form method="POST" action="{% url 'update-book' book.id %}">
      {% csrf_token %}
      <button class="cta borrow-btn" onclick="borrowBook()">Borrow Book</button>
    </form>

    {% endif %} {% if book.status != "available" %}
    <p>This book will be available in 2 days</p>
    {% endif %}
  </div>
</div>

{% endblock %}
