{% extends 'authenticate/base.html' %} {% block content %}

<main class="books">
  <h1>Books you may like</h1>

  <div>
    <div>
      <h2 class="book-category">COMPUTER SCIENCE</h2>
    </div>

    <div class="book-row">
      {% for book in book_list %} {% if book.category == "computer" %}
      <article>
        <a href="{% url 'book-detail' book.id %}">
          <figure class="book-cover">
              {% if book.cover %}
            <img src="{{ book.cover.url }}" alt="{{book.title}}" />
            {% endif %}
          </figure>
          <h3>{{book.title}}</h3>
          <p class="book-author">{{book.author}}</p>
          <span class="{{ book.status }} book-status book-status-bottom"
            >{{book.status}}</span
          >
        </a>
      </article>
      {% endif %} {% endfor %}
    </div>
  </div>

  <div>
    <div>
      <h2 class="book-category">Self Help</h2>
    </div>

    <div class="book-row">
      {% for book in book_list %} {% if book.category == "motivation" %}
      <article>
        <a href="{% url 'book-detail' book.id %}">
          <figure class="book-cover">
            {% if book.cover %}
            <img src="{{ book.cover.url }}" alt="{{book.title}}" />
            {% endif %}
          </figure>
          <h3>{{book.title}}</h3>
          <p class="book-author">{{book.author}}</p>
          <span class="{{ book.status }} book-status book-status-bottom"
            >{{book.status}}</span
          >
        </a>
      </article>
      {% endif %} {% endfor %}
    </div>
  </div>

  <div>
    <div>
      <h2 class="book-category">Biography</h2>
    </div>

    <div class="book-row">
      {% for book in book_list %} {% if book.category == "biography" %}
      <article>
        <a href="{% url 'book-detail' book.id %}">
          <figure class="book-cover">
            {% if book.cover %}
            <img src="{{ book.cover.url }}" alt="{{book.title}}" />
            {% endif %}
          </figure>
          <h3>{{book.title}}</h3>
          <p class="book-author">{{book.author}}</p>
          <span class="{{ book.status }} book-status book-status-bottom"
            >{{book.status}}</span
          >
        </a>
      </article>
      {% endif %} {% endfor %}
    </div>
  </div>
  <div>
    <div>
      <h2 class="book-category">History</h2>
    </div>

    <div class="book-row">
      {% for book in book_list %} {% if book.category == "history" %}
      <article>
        <a href="{% url 'book-detail' book.id %}">
          <figure class="book-cover">
            {% if book.cover %}
            <img src="{{ book.cover.url }}" alt="{{book.title}}" />
            {% endif %}
          </figure>
          <h3>{{book.title}}</h3>
          <p class="book-author">{{book.author}}</p>
          <span class="{{ book.status }} book-status book-status-bottom"
            >{{book.status}}</span
          >
        </a>
      </article>
      {% endif %} {% endfor %}
    </div>
  </div>
</main>

{% endblock %}
